<a href="https://colab.research.google.com/github/UdirL18/LibMusic-OPB-Projektna-Naloga/blob/main/uvozi_podatke.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Uvoz podatkov

In [1]:
import sqlite3

baza_datoteka = 'HotelManagement.db'

#with sqlite3.connect(baza_datoteka) as baza:
#  Cursor.cursor()
#  c.executescript('')

In [2]:
# We will first load an sql extension into our environment
# This extension will allow us to work with sql on Colaboratory
#
%load_ext sql

# We will then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed.
# We will learn more about how databases are created later in prep.
#
%sql sqlite://

'Connected: @None'

Kako napisati reference...

In [5]:
%%sql 
DROP TABLE IF EXISTS Hotelska_veriga;
DROP TABLE IF EXISTS Hotel;
DROP TABLE IF EXISTS Sobe;
DROP TABLE IF EXISTS Tipi_sob;
DROP TABLE IF EXISTS Rezervirane_sobe;
DROP TABLE IF EXISTS Popusti_za_sobo;
DROP TABLE IF EXISTS Rezervacije;
DROP TABLE IF EXISTS Ocena;
DROP TABLE IF EXISTS Uporabljene_storitve;
DROP TABLE IF EXISTS Hotelske_storitve;
DROP TABLE IF EXISTS Zaposleni;
DROP TABLE IF EXISTS Oddelek;
DROP TABLE IF EXISTS Gostje;
DROP TABLE IF EXISTS Naslov;

CREATE TABLE Hotelska_veriga
(
  Hotelska_veriga_id INT PRIMARY KEY NOT NULL,
  Ime_hotelske_verige varchar(45) NOT NULL,
  Naslov_glavne_pisarne varchar(12) REFERENCES Naslov(Naslov_id) NOT NULL,
  spletna_stran varchar(45),
  Email_hotelske_verige varchar(45) NOT NULL
)


CREATE TABLE Hotel
(
  Hotel_id INT PRIMARY KEY NOT NULL, 
  Ime_hotela varchar(45) NOT NULL,
  Telefonska_številka varchar(12) NOT NULL,
  Opis_hotela varchar(100),
  Email varchar(45) NOT NULL,
  Spletna_stran varchar(45),
  Število_ležišč INT,
  Število_nadstropij INT,
  Check_out_time TIME,
  Check_in_time TIME,
  Ocena INT REFERENCES Ocena(Ocena),
  Hotelska_veriga_id INT REFERENCES Hotelska_veriga(Hotelska_veriga_id),
  Naslov_id INT REFERENCES Naslov(Naslov_id)
)


CREATE TABLE Sobe
(
	Soba_ID INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
  Številka_sobe INT(4) NOT NULL, #a to sploh rabiva
  Tip_sobe_id INT REFERENCES Tipi_Sob(Tip_sobe_id),
  Hotel_id INT REFERENCES Hotel(Hotel_id) 
) #a tukaj manjka rezervirane_sobe_id referenca



CREATE TABLE Tipi_sob
(
	Tip_sobe_id INT PRIMARY KEY NOT NULL,
  Tip_sobe_ime varchar(45) NOT NULL,
  Tip_sobe_opis varchar(100),
  Cena_sobe DECIMAL(10,2) NOT NULL,
  Živali TINYINT(1), #a ne bi raj JA, NE
  Kadilci TINYINT(1) #a ne bi raj JA, NE
)



CREATE TABLE Rezervirane_sobe
(
	Rezervirane_sobe_id INT PRIMARY KEY NOT NULL,
	Rezervacije_id INT REFERENCES Rezervacije(Rezervacije_id),
  Sobe_id INT REFERENCES Sobe(Soba_id)
)



CREATE TABLE Popusti_za_sobo
(
	Popust_id INT PRIMARY KEY NOT NULL,
  Mesec_začetka TINYINT(2), 
  Mesec_konca TINYINT(2),
  Diskontna_stopnja DECIMAL(10,2) NOT NULL,
  Tip_sobe_id INT REFERENCES Tipi_sob(Tip_sobe_id)
)



CREATE Rezervacije
(
  Rezervacije_id INT PRIMARY KEY NOT NULL,
  Tip_plačila varchar(45) NOT NULL,
  Datum_rezervacije DATETIME NOT NULL,
  Št_rezerviranih_sob INT NOT NULL,
  Datum_check_in DATETIME NOT NULL,
  Datum_check_out DATETIME NOT NULL,
  Dnevi_rezervacije varchar(10) NOT NULL,
  Zaposleni_id INT REFERENCES Zaposleni(Zaposleni_id) NOT NULL,
  Gostje_id INT REFERENCES Gostje(Gostje_id) NOT NULL, 
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL
)


CREATE TABLE Ocena
(
  Ocena INT PRIMARY KEY NOT NULL,
)



CREATE TABLE Uporabljene_storitve
(
  Uporabljene_storitve_id INT PRIMARY KEY NOT NULL,
  Hotelske_storitve_id INT REFERENCES Hotelske_storitve(Hotelske_storitve_id) NOT NULL,
  Rezervacije_id INT REFERENCES Rezervacije(Rezervacije_id) NOT NULL
)



CREATE TABLE Hotelske_storitve
(
  Storitve_id INT PRIMARY KEY NOT NULL,
  Naziv_storitve varcher(45) NOT NULL,
  Cena_storitve DECIMAL(10,2) NOT NULL,
  Opis_storitve varcher(100),
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL
)



CREATE TABLE Zaposleni
(
	Zaposleni_id INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	Ime varchar(45) NOT NULL,
	Priimek varchar(45) NOT NULL,
	Naziv  varchar(45) NOT NULL,
  Naslov_id INT REFERENCES Naslov(Naslov_id) NOT NULL,
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL,
  Oddelek_id INT REFERENCES Oddelek(Oddelek_id) NOT NULL,
  Telefonska_številka  varchar(12) NOT NULL,
  Email  varchar(45) NOT NULL

)



CREATE TABLE Oddelek
(
  Oddelek_id INT PRIMARY KEY NOT NULL,
  Oddelek_ime varchar(45) NOT NULL,
  Oddelek_opis Varchar(100)    
)



CREATE TABLE Gostje
(
	Gostje_id INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	Ime varchar(45) NOT NULL,
	Priimek varchar(45) NOT NULL,
  Osebni_dokumet varchar(45) NOT NULL,
  Kreditne_kartica varchar(45) NOT NULL,
  Email varchar(45) NOT NULL,
	Telefonska_številka varchar(12) NOT NULL, 
  Naslov_id INT REFERENCES Naslov(Naslov_id)
)



CREATE TABLE Naslov
(
  Naslov_id INT PRIMARY KEY NOT NULL,
  Mesto varchar(45) NOT NULL,
  Država varchar(45) NOT NULL,
  Pošta varchar(6) NOT NULL
)

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) near "CREATE": syntax error
[SQL: CREATE TABLE Hotelska_veriga
(
  Hotelska_veriga_id INT PRIMARY KEY NOT NULL,
  Ime_hotelske_verige varchar(45) NOT NULL,
  Naslov_glavne_pisarne varchar(12) REFERENCES Naslov(Naslov_id) NOT NULL,
  spletna_stran varchar(45),
  Email_hotelske_verige varchar(45) NOT NULL
)


CREATE TABLE Hotel
(
  Hotel_id INT PRIMARY KEY NOT NULL,
  Ime_hotela varchar(45) NOT NULL,
  Telefonska_številka varchar(12) NOT NULL,
  Opis_hotela varchar(100),
  Email varchar(45) NOT NULL,
  Spletna_stran varchar(45),
  Število_ležišč INT,
  Število_nadstropij INT,
  Check_out_time TIME,
  Check_in_time TIME,
  Ocena INT REFERENCES Ocena(Ocena),
  Hotelska_veriga_id INT REFERENCES Hotelska_veriga(Hotelska_veriga_id),
  Naslov_id INT REFERENCES Naslov(Naslov_id)
)


CREATE TABLE Sobe
(
	Soba_ID INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
  Številka_sobe INT(4) NOT NULL, #a to sploh rabiva
  Tip_sobe_id INT REFERENCES Tipi_Sob(Tip_sobe_id),
  Hotel_id INT REFERENCES Hotel(Hotel_id)
) #a tukaj manjka rezervirane_sobe_id referenca



CREATE TABLE Tipi_sob
(
	Tip_sobe_id INT PRIMARY KEY NOT NULL,
  Tip_sobe_ime varchar(45) NOT NULL,
  Tip_sobe_opis varchar(100),
  Cena_sobe DECIMAL(10,2) NOT NULL,
  Živali TINYINT(1), #a ne bi raj JA, NE
  Kadilci TINYINT(1) #a ne bi raj JA, NE
)



CREATE TABLE Rezervirane_sobe
(
	Rezervirane_sobe_id INT PRIMARY KEY NOT NULL,
	Rezervacije_id INT REFERENCES Rezervacije(Rezervacije_id),
  Sobe_id INT REFERENCES Sobe(Soba_id)
)



CREATE TABLE Popusti_za_sobo
(
	Popust_id INT PRIMARY KEY NOT NULL,
  Mesec_začetka TINYINT(2),
  Mesec_konca TINYINT(2),
  Diskontna_stopnja DECIMAL(10,2) NOT NULL,
  Tip_sobe_id INT REFERENCES Tipi_sob(Tip_sobe_id)
)



CREATE Rezervacije
(
  Rezervacije_id INT PRIMARY KEY NOT NULL,
  Tip_plačila varchar(45) NOT NULL,
  Datum_rezervacije DATETIME NOT NULL,
  Št_rezerviranih_sob INT NOT NULL,
  Datum_check_in DATETIME NOT NULL,
  Datum_check_out DATETIME NOT NULL,
  Dnevi_rezervacije varchar(10) NOT NULL,
  Zaposleni_id INT REFERENCES Zaposleni(Zaposleni_id) NOT NULL,
  Gostje_id INT REFERENCES Gostje(Gostje_id) NOT NULL,
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL
)


CREATE TABLE Ocena
(
  Ocena INT PRIMARY KEY NOT NULL,
)



CREATE TABLE Uporabljene_storitve
(
  Uporabljene_storitve_id INT PRIMARY KEY NOT NULL,
  Hotelske_storitve_id INT REFERENCES Hotelske_storitve(Hotelske_storitve_id) NOT NULL,
  Rezervacije_id INT REFERENCES Rezervacije(Rezervacije_id) NOT NULL
)



CREATE TABLE Hotelske_storitve
(
  Storitve_id INT PRIMARY KEY NOT NULL,
  Naziv_storitve varcher(45) NOT NULL,
  Cena_storitve DECIMAL(10,2) NOT NULL,
  Opis_storitve varcher(100),
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL
)



CREATE TABLE Zaposleni
(
	Zaposleni_id INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	Ime varchar(45) NOT NULL,
	Priimek varchar(45) NOT NULL,
	Naziv  varchar(45) NOT NULL,
  Naslov_id INT REFERENCES Naslov(Naslov_id) NOT NULL,
  Hotel_id INT REFERENCES Hotel(Hotel_id) NOT NULL,
  Oddelek_id INT REFERENCES Oddelek(Oddelek_id) NOT NULL,
  Telefonska_številka  varchar(12) NOT NULL,
  Email  varchar(45) NOT NULL

)



CREATE TABLE Oddelek
(
  Oddelek_id INT PRIMARY KEY NOT NULL,
  Oddelek_ime varchar(45) NOT NULL,
  Oddelek_opis Varchar(100)
)



CREATE TABLE Gostje
(
	Gostje_id INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	Ime varchar(45) NOT NULL,
	Priimek varchar(45) NOT NULL,
  Osebni_dokumet varchar(45) NOT NULL,
  Kreditne_kartica varchar(45) NOT NULL,
  Email varchar(45) NOT NULL,
	Telefonska_številka varchar(12) NOT NULL,
  Naslov_id INT REFERENCES Naslov(Naslov_id)
)



CREATE TABLE Naslov
(
  Naslov_id INT PRIMARY KEY NOT NULL,
  Mesto varchar(45) NOT NULL,
  Država varchar(45) NOT NULL,
  Pošta varchar(6) NOT NULL
)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
### PLONKCI
CREATE TABLE Payments
(
	Id INT PRIMARY KEY IDENTITY(1,1),
	EmployeeId INT UNIQUE NOT NULL,
	PaymentDate date,
	AccountNumber INT NOT NULL,
	FirstDateOccupied date,
	LastDateOccupied date,
	TotalDays INT NOT NULL,
	AmountCharged INT NOT NULL,
	TaxRate INT,
	TaxAmount INT,
	PaymentTotal INT NOT NULL,
	Notes nvarchar(255)
)

CREATE TABLE Occupancies
(
	Id INT PRIMARY KEY IDENTITY(1,1),
	EmployeeId INT UNIQUE NOT NULL,
	DateOccupied date,
	AccountNumber INT NOT NULL,
	RoomNumber INT NOT NULL,
	RateApplied INT,
	PhoneCharge INT,
	Notes nvarchar(255)
)


CREATE TABLE uporabnik (
    id INTEGER PRIMARY KEY,
    ime TEXT NOT NULL,
    priimek TEXT NOT NULL,  
    email TEXT NOT NULL,
    geslo TEXT NOT NULL,
    uporabnisko_ime TEXT NOT NULL
);

CREATE TABLE narocnik (
    narocnik BOOLEAN NOT NULL
);

CREATE TABLE placilo (
    id_placila INTEGER PRIMARY KEY,
    datum_placila DATE NOT NULL,
    znesek_placila INTEGER NOT NULL
    
);

CREATE TABLE pesem (
    id_pesmi INTEGER PRIMARY KEY,
    naslov_pesmi TEXT NOT NULL,
    izvajalec_pesmi TEXT NOT NULL,
    zvrst TEXT NOT NULL,
    leto YEAR NOT NULL,
    dolzina_pesmi TIME NOT NULL

);

CREATE TABLE izvajalec (
    id_ivajalca INTEGER PRIMARY KEY,
    ime_izvajalcev TEXT NOT NULL,
    facebook TEXT NOT NULL,
    twitter TEXT NOT NULL,
    spletna_stran TEXT NOT NULL,
    zvrst TEXT NOT NULL,
    mtv TEXT NOT NULL,
    REFERENCES pesem (id_pesmi)
);


#CREATE TABLE izvaja (
#  id_pesmi INTEGER REFERENCES pesem(id_pesmi),
#  id_izvajalca INTEGER REFERENCES izvajalec(id_izvajalca),
#  PRIMARY KEY (id_pesmi, id_izvajalca)
#);

In [ ]:
# uvozimo ustrezne podatke za povezavo
from . import auth

# uvozimo psycopg2
import psycopg2, psycopg2.extensions, psycopg2.extras
psycopg2.extensions.register_type(psycopg2.extensions.UNICODE) # se znebimo problemov s šumniki

import csv

ImportError: ignored